.root {
  height: 45px;
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.35s ease-in-out;
}

.contained {
  color: #FFFFFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.text {
  color: #000000;
}

.primary {
  background-color: #2D2D2D;
}

.primary:hover {
  background-color: #575757;
}

.secondary {
  background-color: #F59518;
}

.secondary:hover {
  background-color: #f7aa46;
}

.text:hover {
  border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.main_menu {
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.main_menu:hover {
  transform: scale(1.05)
}