.root {
  width: 100%;
}

.appBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentMainWrapper {
  margin-top: 65px;
    position: static;
}

@media (max-width: 865px) {
  .contentMainWrapper {
    height: calc(100vh - 65px);
    width: 100%;
    }
}