.root {}

.appBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentMainWrapper {
  margin-top: 65px;
    position: static;
      height: calc(100vh - 185px)
}

@media (max-width: 865px) {
  .contentMainWrapper {
    height: calc(100vh - 65px);
    }
}