.root {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4px 0;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: calc(100% - 55px);
}

.userEmail {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.listContainer {
  position: absolute;
  top: calc(100% + 12px);
  right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}