.root {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.avatarWrapper {}