.root {
  display: flex;
  flex-direction: column;
  margin-top: 49px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.title {
  margin-bottom: 9px;
}

.header {
  width: 735px;
  padding-left: 49px;
  margin-bottom: 56px;
}

.procedureFieldWrapper {
  display: flex;
}

.Icon {
  margin-left: 5px;
  margin-top: 11px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.link {
  width: 275px;
  display: flex;
  justify-content: flex-end;
  color: #FE585D;
}

.link:hover {
  color: #cb464a;
}

.buttons {
  display: flex;
  margin-top: 17px;
}

.button {
  width: 275px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

