.root {
  display: flex;
  flex-direction: column;
  }
  
  .fieldWrapper {
    display: flex;
  align-items: center;
}
.textField {
  width: 150px;
}

.inputCenterText {
  padding-left: 0;
  text-align: center;
}

.textField__modified {
  margin-left: 5px;
}

.errorMessage {
  padding-left: 15px;
  color: rgba(255, 0, 0, 1);
  font-size: 14px;
}

.errorSpace {
  height: 20px;
}
@media (max-width: 865px) {
  .root {
    width: calc(100% - 24px);
  }

  .fieldWrapper {
    width: 100%;
  }

  .textField {
    width: 20%;
  }
}

@media (max-width: 580px) {
  .root {
    width: 100%;
  }

  .fieldWrapper {
    flex-direction: column;
  }

  .textField {
    margin-bottom: 2px;
    width: 100%;
  }

  .textField__modified {
    margin-left: 0;
  }

  .errorSpace {
    display: none;
  }
}