.root {
  display: flex;
  flex-direction: column;
  }
  
  .fieldWrapper {
    display: flex;
  align-items: center;
}
.textField {
  width: 150px;
}

.inputCenterText {
  padding-left: 0;
  text-align: center;
}

.textField__modified {
  margin-left: 5px;
}
.Icon {
  margin-left: 5px;
  cursor: pointer;
}
.errorMessage {
  width: 100%;
  padding-left: 15px;
  color: rgba(255, 0, 0, 1);
  font-size: 14px;
}

.spaceForError {
  height: 18px;
}