.root {
  width: 100%;
}

.mainPageHeader {
  margin-top: 49px;
  padding-left: 173px;
  display: flex;
  flex-direction: column;
}

.headersubTitle {
  padding-left: 184px;
  margin-top: 15px;
  margin-bottom: 120px;
}

.buttonSection {
  display: flex;
  justify-content: center;
}

.mainPageButton {
  margin-right: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  background-color: #FFFFFF;
}

.icon {
  margin-bottom: 15px;
}
@media (max-width: 865px) {
  .mainPageHeader {
    padding-left: 0;
    align-items: center;
  }

  .headersubTitle {
    padding-left: 0;
    margin-bottom: 41px;
  }

  .buttonSection {
    flex-direction: column;
    align-items: center;
  }

  .mainPageButton {
    margin-bottom: 21px;
  }
}