.root {}

@media (max-width: 500px) {
  .user {
    max-width: 150px;
    overflow: hidden;
  }
}

.logo {
  margin-left: 10px;
}
.main_menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 21px;
}

.main_menu_btn:hover {
  color: black;
}

.fixed {
  position: fixed;
  top: 64px;
  height: calc(100% - 64px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.div {
  display: flex;
  margin-top: 229px;
}