.root {
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerContainer {}

.settingsPageheader {
  padding-left: 80px;
}

.contentContainer {
  margin-top: 34px;
  display: flex;
  justify-content: space-evenly;
}
.asideWrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
    align-items: center;
  }
  
.asideAvatar {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  cursor: pointer;
}

.addIconBtn {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
  
.asideMenu {
  width: 275px;
  display: flex;
    flex-direction: column;
  }
  
  .basicMenuBtn {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    cursor: pointer;
  }
  
  .menuBtn {
    color: rgba(0, 0, 0, 0.7);
  }
  
  .basicMenuBtn:hover {
    background-color: #8991FA;
  }
  
  .menuBtn:hover {
    color: rgba(0, 0, 0, 1);
  }
  
  .deleteBtn {
    color: rgba(255, 51, 102, 0.7);
  }
  
  .deleteBtn:hover {
    color: rgba(255, 51, 102, 1);
  }
  
  .menuBtn_disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.38);
  }
  
  .menuBtn_disabled:hover {
    color: rgba(0, 0, 0, 0.38);
    background-color: #FFFFFF;
}

.inputsFieldWrapper {
  width: 60%;
  margin-top: 10px;
}

.inputField {
  margin-top: 4px;
  margin-bottom: 22px;
  width: 100%;
  box-sizing: border-box;
}

.maxWidth {
  width: 100%;
}

.userNameField {
  width: 100%;
}

.firstnameSpace {
  padding-right: 4px;
}

.lastnameSpace {
  padding-left: 4px;
}

.usernameWrapper {
  display: flex;
  width: 100%;
}

.buttonsSection {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 275px;
  height: 45px;
}